body, html {
    font-family: "Open sans";
    font-size: 16px;
}
nav {
    background-color: white;
    height: 50px;
}

.jumbotron {
    text-align: left;
}

.row {
    padding: 10px;
}

h1 {
    font-family: "Asap Semibold";
    color: white;
    font-weight: bolder;
} 

h2 {
    font-size: 65px;
    line-height: 60px;
    padding-top: 80px;
}

h5 {
    color: cadetblue;
    font-size: 35px;
}

h6 {
    color: cadetblue;
    font-size: 25px;
}

a {
    font-size: 18px;
}

a.hover {
    color: cadetblue;
    font-weight: bolder;
}

.nav-link {
    color:cadetblue;
}

.nav-link:hover {
    color: cadetblue;
    font-weight: bolder;
}
.casephoto {
    margin-top: -50px;
    width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    /*padding-left: 200px;*/
    text-align: right;
    padding-right: 10px;
    background-color: cadetblue;
    color: white;
    font-weight: bolder;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.btn, .btn-default {
    border-color: black;
    color: cadetblue;
    font-weight: bolder;
}

.btn:hover {
    color: black;
    font-weight: bolder;
}